

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin";
}

<div class="container">
    <div class="col-md-12">
        <div id="ProgrammeAdmin" class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Programmes</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>@Html.ActionLink("View Programmes", "Index", "Programmes")</li>
                    </ul>
                </div>
            </div>
        </div>


        <div id="MemberAdmin" class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4>Members</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>@Html.ActionLink("Register New Member", "Register", "Account", new { area = "Admin" }, new { id = "registerLink" })</li>
                       <li>@Html.ActionLink("Roles", "Index", "Role", new { area = "Admin" }, new { id = "roleLink" })</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="UsefulLinksAdmin" class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4>Useful Links</h4>
                </div>
                <div class="panel-body">

                    <ul>
                        <li>@Html.ActionLink("View Useful Links List", "List", "UsefulLinks", routeValues: null, htmlAttributes: new { id = "usefulLinksLink" })</li>
                    </ul>
                   

                </div>
            </div>

        </div>
        <div id="ImageLinksAdmin" class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4>Homepage Images</h4>
                </div>
                <div class="panel-body">

                    <ul>
                        <li>@Html.ActionLink("View Image List", "", "HomepageImages", routeValues: null, htmlAttributes: new { id = "homepageImagesLink" })</li>
                    </ul>
                    

                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div id="SubscriptionsAdmin" class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <h4>Newsletter Subscriptions</h4>
                </div>
                <div class="panel-body">

                    <ul>
                        <li>@Html.ActionLink("Newsletter Subscriptions", "", "Subscriptions", routeValues: null, htmlAttributes: new { id = "subscriptionLink" })</li>
                    </ul>


                </div>
            </div>

        </div>
    </div>
</div>

