@model Radcc.Model.Programme
@{
    Layout = null;
}
<div id="NextMeetingPanel" class="panel panel-default">
    <div class="panel-heading">
        <h4>Next Meeting - @Html.DisplayFor(model => model.FormattedEventDate)</h4>
    </div>
    <div class="container">
       <h4>@Html.DisplayFor(model => model.Title)</h4>

        <p>@Html.DisplayFor(model => model.Description)</p>
        <p>@Html.DisplayFor(model => model.Comment)</p>
       

    </div>
    <div class="panel-footer">
        <p>Doors open at @Model.ArriveTime for @Model.StartTime start.</p>

    </div>

    

</div>
