@model IEnumerable<Radcc.Mvc.Models.ViewModels.CurrentProgrammeViewModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTypeId)
        </th>
 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTypeId)
        </td>
      
    </tr>
}

</table>
