<nav class="nav">
    <ul class="nav navbar-header navbar-nav ">
        @*<a href="#" id="menu-icon"></a>*@
        <li class="active">@Html.ActionLink("Homepage", "Index", "Home", new { area = "" }, new { @class = "current" }) </li>
        <li>@Html.ActionLink("About Us", "About", "Home", new { area = "" }, new { @class = "" })</li>
        <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "" })</li>
        <li>@Html.ActionLink("Programme", "CurrentProgramme", "Programmes", new { area = "" }, new { @class = "" })</li>
        <li>@Html.ActionLink("Rules and Policies", "Index", "Rules", new { area = "" }, new { @class = "" })</li>
        @*<li>@Html.ActionLink("Galleries", "Index", "Galleries", new { area = "" }, new { @class = "" })</li>*@
        <li>@Html.ActionLink("Admin", "Index", "Home", new { area = "Admin" }, new { @class = "" })</li>
        <li>@Html.ActionLink("Member", "Index", "Home", new { area = "" }, new { @class = "" })</li>
    </ul>
</nav>
